#errorCatcher Echo
[{
"utcoffset": $utcOffset,
"temperatureplot": {"series": 
{"outTemp": {"zIndex": "1", "name": "Max Temp.", "data": $outTempYearjson}, 
"outTempMin": {"name": "Min Temp.", "data": $outTempMinYearjson},
"dewpoint": {"name": "Rocio", "data": $dewpointYearjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"windchillplot": {"series": 
{"windchill": {"name": "Frio", "data": $windchillYearjson}, 
"heatindex": {"name": "Calor", "data": $heatindexYearjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
}}, 
"humidityplot": {"series": 
{"outHumidity": {"name": "Humedad", "data": $outHumidityYearjson}}
}, 
"barometerplot": {"series": 
{"barometer": {"name": "Presion", "data": $barometerYearjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_pressure == "hPa"
 "(hPa)"
#elif $unit.unit_type_dict.group_pressure == "inHg"
 "(inHg)"
#elif $unit.unit_type_dict.group_pressure == "mmHg"
 "(mmHg)"
#else
 "(mbar)" 
#end if
}}, 
"windplot": {"series": 
{"windSpeed": {"name": "Max Velocidad", "data": $windSpeedYearjson}, 
"windSpeedAvg": {"name": "Media Velocidad", "data": $windSpeedAvgYearjson}, 
"windGust": {"name": "Rafaga", "data": $windGustYearjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_speed == "km_per_hour"
 "(km/h)"
#elif $unit.unit_type_dict.group_speed == "mile_per_hour"
 "(mph)"
#elif $unit.unit_type_dict.group_speed == "meter_per_second"
 "(m/s)"
#else
 "(knot)"
#end if
}}, 
"winddirplot": {"series": 
{"windDir": {"name": "Direccion", "data": $windDirYearjson}}
}, 
"rainplot": {"series": 
{"rain": {"name": "Precipitacion", "data": $rainYearjson}}, 
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
}}, 
"radiationplot": {"series": 
{"radiation": {"name": "Solar Radiation", "data": $radiationYearjson}}
}
}]
